body{
    background-color: white;
}

.headline{
    font-family: 'Alegreya Sans';
    font-size: 22px;
    text-align: center;
}

.headline-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

#text{
    font-family: "Alegreya Sans";
    text-align: center;
}

.search-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type=search]{
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 2.5px;
    font-family: "Alegreya Sans";
    font-size: 16px;
}

#navbar{
    overflow: hidden;
    background-color: transparent;
    padding: auto;
    position: fixed;
    margin-top: 10px;
    top: 0;
    width: 100%;
}

#navbar a{
    color: black;
    font-family: 'Alegreya Sans';
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
}

#navbar a:visited{
    color: black;
}

#navbar a:hover{
    color: gray;
}

#button{
    padding: 12px;
    border-radius: 2.5px;
    font-family: "Alegreya Sans";
}

#button:hover{
    background-color: gray;
    cursor: pointer;
}

.table-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 50px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}