body{
    background-color: white;
}

.headline{
    font-family: 'Alegreya Sans';
    font-size: 22px;
}

.headline-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
}

.search-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type=search]{
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 2.5px;
    font-family: "Alegreya Sans";
    font-size: 16px;
}

#navbar{
    overflow: hidden;
    background-color: transparent;
    padding: auto;
    position: fixed;
    margin-top: 10px;
    top: 0;
    width: 100%;
}

#navbar a{
    color: black;
    font-family: 'Alegreya Sans';
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
}

#navbar a:visited{
    color: black;
}

#navbar a:hover{
    color: gray;
}

#button{
    padding: 12px;
    border-radius: 2.5px;
    font-family: "Alegreya Sans";
}

#button:hover{
    background-color: gray;
    cursor: pointer;
}