body {
    background-color: white;
    font-family: 'Alegreya Sans';

}

html {
    overflow-y: scroll;
}

h2 {
    text-decoration: underline;
}
/*.h2div{*/
    /*display: flex;*/
    /*width: 100%;*/
    /*align-items: center;*/
    /*justify-content: center;*/

/*}*/
.headline {
    font-family: 'Alegreya Sans';
    font-size: 22px;
    text-align: center;
}


#chartdiv {
    width: 100%;
}

#chartdrop {
    width: 15%;
}

.headline-container {
    display: inline-grid;
    justify-content: center;
    width: 100%;
    margin-top: 130px;
}

#text {
    font-family: "Alegreya Sans";
    text-align: center;
}

.search-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.result-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

input[type=search] {
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 2.5px;
    font-family: "Alegreya Sans";
    font-size: 16px;
}

#navbar {
    overflow: hidden;
    background-color: transparent;
    padding: auto;
    position: fixed;
    margin-top: 10px;
    top: 0;
    width: 100%;
}

#navbar a {
    color: black;
    font-family: 'Alegreya Sans';
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    transition: all 0.3s ease;
}

#navbar a:visited {
    color: black;
}

#navbar a:hover {
    color: gray;
}

#button {
    width: 160px;
    border-radius: 4px;
}


.table-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-top: 50px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Dropdown Button */
.dropbtn {
    background-color: #d6c029;
    color: white;
    padding: 15px 100px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
    margin-bottom: 100px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 100px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e2d269;
}

body {
    font: 13px/1.3 'Lucida Grande', sans-serif;
    color: #666;
}

.dropdown-menu {
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 70%;
    height: 200px;
    margin: 100px auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
    background-size: 100% 50px;
    background-position: left top;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
}

.chart span {
    margin: 0 1em;
    display: block;
    background: #9ae4b0;
    animation: draw 1s ease-in-out;
    color: #000000;
    text-align: center;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
}
div.scrollmenu {
    display: flex;
    justify-content: center;
    background-color: #7c7c7c;
    overflow: auto;
    white-space: nowrap;

}

div.scrollmenu a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
div.scrollmenu a:active {
    background-color: #aaaaaa;
}
div.scrollmenu a:hover {
    background-color: #aaaaaa;
}

@keyframes draw {
    0% {
        height: 0;
    }
}
