<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PartyPoopers</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav id="navbar">
    <a href="">Hem</a>
    <a href="">Quiz</a>
    <a href="">Om oss</a>
</nav>

<div class="flex-container-headline"></div>
<div class="headline">
    <h1>Skriv in ett sökord</h1>
</div>

<div class="flex-container-search">
<div>
    <form action="/index" method="post">
    <input type="search" placeholder="Sök ord">
    <input type="submit" value="Sök">
    </form>
</div>
</div>

</body>
</html>