<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PartyPoopers</title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav id="navbar">
    <a href="/">Hem</a>
    <a href="/quiz.html">Quiz</a>
    <a href="/about.html">Om oss</a>
</nav>

<div class="headline-container">
<div class="headline">
    <h1>Skriv in ett sökord</h1>
</div>
</div>

<div class="search-container">
<div>
    <form action="/index" method="post">
    <input type="search" placeholder="Sök ord">
    <input id="button" type="submit" value="Sök">
    </form>
</div>
</div>





</body>
</html>